button {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.GlobalPinterestBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  max-width: 1800px;
  text-align: center;
  overflow: visible;
}
.pinterest-board {
  margin: 0 auto;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 9px;
  -webkit-column-gap: 9px;
  column-gap: 9px;
}

.boxes {
  width: 100%;
  height: fit-content;
  margin: 1px 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 2.5px;
  padding: 0%;
}

.boxes img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.25s ease-in-out; /* Smooth transition */
  z-index: 1; /* Ensure the image stays below the border */
}

.boxes::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1.5px solid var(--transparent-grey); 
  border-radius: 2.5px; 
  pointer-events: none;
  z-index: 2; /* Ensure the border is above the image */
}

.boxes:hover::before,
.boxes:active::before {
  border: 1.5px solid var(--grey-dark);
}

.boxes:hover img,
.boxes:active img {
  transform: rotate(0.8deg) scale(1.02); /* Rotate by 10 degrees on hover */
  z-index: 0; /* Allow the image to go below the border during hover */
}



.boxes:nth-child(odd) {
  width: 100%;
  grid-row: auto / span 3;
}

.boxes:nth-child(even) {

  width: 100%;
  grid-row: auto / span 2;
}

.boxes:nth-child(4n) {

  width: 100%;
}

.boxes:nth-child(7) {

  width: 100%;
}

a {
  margin: 0%;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 20px 0;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 99;
  top: 25px;
}

.tags {
  position: absolute; /* Position relative to the container */
  bottom: 16px; /* Adjust distance from the bottom of the image */
  left: 16px; /* Adjust distance from the left of the image */
  display: flex; /* Arrange tags in a row */
  gap: 8px; /* Add spacing between tags */
}

.tag {
  background-color: var(--white); /* Background color of the tag */
  color: var(--black); /* Text color */
  padding: 5px 9px; /* Add padding for the tag */
  border-radius: 20px; /* Make the edges rounded */
  font-size: 16px; /* Adjust font size */
  text-align: center; /* Center-align text */
  white-space: nowrap; /* Prevent tags from breaking into multiple lines */
  border: 1.5px solid var(--black);
}

#ALL{
  border-color: var(--transparent-grey)!important;
}

.TextPinterestBoard{
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.TextPinterestBoard p {
  color: var(--grey-lighter);
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  .pinterest-board {
    column-count: 1;
  }

  .Buttons {
    align-content: flex-start;
    align-items: start;
    box-sizing: border-box;
  }
}